@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1.3s ease-in;
}

.main {
  margin: 45px;
  text-align: center;
  line-height: 1.5;
}

.grupo {
  font-size: 40px;
  font-weight: 600;
  color: #6a9c89;
}

.projeto {
  font-size: 23px;
  font-weight: 400;
  color: #6a9c89;
}

.main p {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  margin-top: 25px;
  color: #477262;
}

.container-alunos {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.componente-aluno {
  margin: 20px;
}

.perfil {
  border-radius: 50%;
  height: 23vh;
  border: 4px solid #477262;
  box-shadow: #9caca6 15px 10px 20px;
  cursor: pointer;
}

.redes-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.redes-container span {
  font-size: 20px;
  margin-top: 7px;
  color: #3c3c3c;
}

.logos-redes a {
  text-decoration: none;
}

.logos-redes img {
  max-height: 5vh;
  margin: 9px 5px;
  filter: drop-shadow(2px 3px 2px #0000006b);
  margin-bottom: 40px;
}

@media screen and (max-width: 480px) {
  .main {
    margin: 25px;
  }

  .main .grupo {
    font-size: 30px;
  }

  .main .projeto {
    font-size: 15px;
  }

  .main p {
    font-size: 16px;
    margin-top: 18px;
  }

  .container-alunos {
    align-items: center;
    flex-direction: column;
  }

  .componente-aluno:last-child {
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }

  .logos-redes img {
    margin-bottom: 20px;
  }

  .componente-aluno {
    text-align: center;
  }
}
